.card {
  border-bottom: 1px solid #e4e5e6;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 60vw;
}
.cardImg {
  width: 100px;
}
.wrapper {
  align-items: center;

  width: 100%;
  display: flex;
  justify-content: center;
}
.leftCard{
  flex:3;
    display:flex;
    align-items: center;
}
.arrow{
  display:flex;
  flex-direction: column;
}
.qnty{
  margin-left: 100px;
  justify-content: center;
  flex:2;
  display:flex;
}
.cardPrice{
  width:55px;
}
