.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.workShop {
  padding-top: 80px;
  align-items: center;
  display: flex;
}
.flexCard {
  flex-wrap: wrap;
  position: relative;

  display: flex;
}
.workShop-img {
  z-index: 10;
  width: 150px;
  position: absolute;
}
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .workShop-img {
    z-index: 1;

    width: 100px;
  }
}
