*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
.wrapper p,
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  line-height: 1.125rem;
  color: #000;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrapper {
  margin-left: 3vw;
  margin-right: 3vw;

  background-color: #f0f0f0;
}
