.wrapper {
  text-align: center;
  background-color: #383733;
  margin-left: 3vw;
  margin-right: 3vw;
}
.footer p {
  margin-bottom: 0px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
}
.footer {


  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
.img {
  width: 80px;
}
