h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0.875rem !important;
  line-height: 1.125rem;
  color: #000;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0;
  font: inherit;
}
body {
  margin: 0px;
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}

img {
  width: 100%;
  object-fit: fill;
}
p {
  font-family: Monaco, monospace;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  color: rgba(0, 0, 0, 0.9);
}
