.checkout span {
  display: inline-block;
  color: #000;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 3px;
  background: #fff;
  padding: 8px 25px 6px;
  border: 0.125rem solid #333;
}
.checkout {
  padding-bottom: 30px;
  text-align: center;
}
.wrapper {
  padding-top: 40px;
  height:100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
  background: rgb(240, 240, 240);
  margin-top: 30vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
.qntyCard {
  display: flex;
  width: 100%;
  justify-content: center;
}
.qnty {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
}
.qnty p:nth-child(2) {
  padding: 9px 12px;
  border-top: 1px solid #e3e4e5;
  border-bottom: 1px solid #e3e4e5;
  display: flex;
  justify-content: center;

  flex: 2;
}
.qnty p:last-child {
  padding: 9px 12px;
  border-top: 1px solid #e3e4e5;
  border-bottom: 1px solid #e3e4e5;
  border-right: 1px solid #e3e4e5;
}
.qnty p:first-child {
  padding: 9px 12px;
  border-left: 1px solid #e3e4e5;
  border-top: 1px solid #e3e4e5;
  border-bottom: 1px solid #e3e4e5;
  display: flex;
  flex: 3;
}
.products {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.flex {
  justify-content: space-between;
  display: flex;
}
.soluong {
  flex: 2 1;
}
.soluong p {
  text-align: center;
}
.price {
}
.title {
  flex: 3 1;
}
.order h2 {
  width: 60vw;
}
.order {
  display: flex;
  /* width: 60vw; */
  justify-content: center;
}
.total {
  border-bottom: 1px solid #e3e4e5;
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.flex-total {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.contact {
  width: 60vw;
  justify-content: space-between;
  display: flex;
}
.left-contact {
  display: flex;
  flex-direction: column;
}
.right-contact {
  display: flex;
  flex-direction: column;
}
.flex-contact {
  display: flex;
  justify-content: center;
}
.name {
  display: flex;
  flex-direction: column;
}
.phone {
  display: flex;
  flex-direction: column;
}
.email {
  display: flex;
  flex-direction: column;
}
.addres1 {
  display: flex;
  flex-direction: column;
}
.addres2 {
  display: flex;
  flex-direction: column;
}
.city {
  display: flex;
  flex-direction: column;
}
.state {
  display: flex;
  flex-direction: column;
}
.post {
  display: flex;
  flex-direction: column;
}
.left-contact {
  width: 45%;
}
.right-contact {
  width: 45%;
}
@media (min-width: 1200px) and (max-width: 1440px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    padding-top: 50px;
    margin-top: 8vh;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .wrapper {
    padding-top: 50px;
    margin-top: 8vh;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .wrapper {
    padding-top: 50px;
    margin-top: 8vh;
  }
}
