.banner {
  min-height: 900px;
  padding: 0 !important;
}
.firstBanner {
  min-height: 900px;

  object-fit: fill;
  background-size: 1152px 1004px;
  display: flex;

  background-image: url("https://wootten.com.au/assets/images/services/services-background_2x.0aa5242.jpg");
}
.cardLeftFirst {
  background-color: white;
  height: fit-content;
  margin-top: 25%;
  margin-left: auto;
  width: 20vw;
  outline: none;
  border: none;
  margin-right: 10px;
}

.cardRightFirst {
  background-color: white;
  outline: none;
  border: none;
  height: fit-content;
  margin-top: 25%;
  margin-right: auto;
  width: 20vw;
  margin-left: 10px;
}
.cardLeftFirst p {
  padding: 15px 20px;
}
.cardRightFirst p {
  padding: 15px 20px;
}
.headerFirst {
  margin-top: 10vh;
  width: 20vw;
  left: 37vw;
  position: absolute;
}
.cecondBanner {
  display: flex;
}
.titleLeft {
  position: absolute;
}
.titleLeft {
  margin-top: 40vh;
  left: 20vw;
  width: 200px;
}
.titleRight {
  position: absolute;
}
.titleRight {
  margin-top: 40vh;
  right: 20vw;
  width: 200px;
}
.leftSecond:hover {
  opacity: 0.8;
}
.rightSecond:hover {
  opacity: 0.8;
}
.leftSecond {
  transition: all 0.3s ease;
}
.rightSecond {
  transition: all 0.3s ease;
}
@media (min-width: 1200px) and (max-width: 1440px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .cardRightFirst {
    width: 29vw;
  }
  .cardLeftFirst {
    width: 29vw;
  }
  .titleRight {
    margin-top: 24vh;
    right: 16vw;
  }
  .titleLeft {
    margin-top: 24vh;
    right: 16vw;
  }
  .cardRightFirst p {
    height: 66px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .firstBanner {
    min-height: 746px;
    background-size: 891px 903px;
  }
  .cardRightFirst {
    width: 35vw;
  }
  .cardLeftFirst {
    width: 35vw;
  }
  .titleRight {
    margin-top: 20vh;
    right: 11vw;
  }
  .titleLeft {
    margin-top: 20vh;
    left: 14vw;
  }
  .cardRightFirst p {
    height: 66px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .firstBanner {
    min-height: 746px;
    background-size: 891px 903px;
  }
  .cardRightFirst {
    width: 35vw;
  }
  .cardLeftFirst {
    width: 35vw;
  }
  .titleRight {
    margin-top: 20vh;
    right: 11vw;
  }
  .titleLeft {
    margin-top: 20vh;
    left: 14vw;
  }
  .cardRightFirst p {
    height: 66px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .firstBanner {
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    background-size: 891px 903px;
  }
  .headerFirst {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 0;
    width: 50vw;
    left: 0;
    align-items: center;
    position: relative;
  }
  .cardRightFirst {
    width: 65vw;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10vh;
  }
  .cardLeftFirst {
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 65vw;
    margin-right: 0;
    margin-left: 0;
  }
  .titleRight {
    margin-top: 20vh;
    right: 20vw;
  }
  .titleLeft {
    margin-top: 20vh;
    left: 27vw;
  }
  .cardRightFirst p {
    height: 84px;
  }
  // .imgRight {
  //   width: 50vw;
  // }
  // .imgLeft{
  //   width:50vw;
  // }
  .cecondBanner {
    flex-direction: column;
  }
}
